@model IEnumerable<greenhome.Models.Plant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Light)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.LatinName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Size)
            </td>
            <td>
                @Html.DisplayFor(model => item.Watering)
            </td>
            <td>
                @Html.DisplayFor(model => item.Light)
            </td>
            <td>
                @Html.DisplayFor(model => item.Soil)
            </td>
            <td>
                @Html.DisplayFor(model => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(model => item.Image)
            </td>
            <td>
                @Html.DisplayFor(model => item.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
